<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="addroom-heading">Nhập thông tin dịch vụ</h4>
                <div class="addroom-body">
                    <div class="addroom-wrap">
                        <i class="fa-solid fa-house"></i>
                        <input class="addroom-input" type="text" name="" id="" placeholder="Nhập tên dịch vụ"
                            [(ngModel)]="inputdata.service.name">
                    </div>
                    <div class="addroom-wrap">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <input class="addroom-input" type="number" name="" id="" min="0"
                            placeholder="Nhập giá tiền" [(ngModel)]="inputdata.service.price">
                    </div>
                    <div class="addroom-wrap">
                        <i class="fa-regular fa-rectangle-list"></i>
                        <input class="addroom-input" type="text" name="" id="" placeholder="Nhập mô tả"
                        [(ngModel)]="inputdata.service.description">
                    </div>

                </div>
                
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-secondary" (click)="closeDialog()">Hủy bỏ</button>
          <button *ngIf="inputdata.action=='add'" type="button" class="btn btn-primary"  (click)="add(inputdata.service)">Add</button>
          <button *ngIf="inputdata.action =='update'" type="button" class="btn btn-primary" (click)="update(inputdata.service)" >Save</button>
            </div>
        </div>
    </div>
</div>

