<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Testimonial</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Testimonial</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->



<!-- Testimonial Start -->
<h1 class="mb-5 text-center"><span class="text-primary text-uppercase">What Client</span> Say</h1>
<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn mb-100" data-wow-delay="0.1s" style="margin-bottom: 90px;" >
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div *ngFor="let r of report; let i = index" [ngClass]="{'testimonial-item position-relative bg-white rounded overflow-hidden mySlides':true, s:i > 0}">
                <p>{{r.mess}}</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="../../assets/img/user.png"
                        style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">{{r.name}}</h6>
                        <small>Khách hàng</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            
        </div>
        <div class="button-tes">
            <button class="w3-button w3-display-left w3-black btn-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black btn-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Back to Top -->
<a routerLink="/testimonial" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>